
.skill-category{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;
	color: #000000 !important;
}

.skill-label{
	border: 1px solid #e7eaee;
	padding: 5px;
	background-color: rgba(255, 234, 42, 0.13);
}



