
.page-cv{
	font-size: 80%;

}

.skill-category{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;
	color: #000000 !important;
}

.cv-skill{
	border: 1px solid #e7eaee;
	font-size: 90%;
	padding: 5px;
	background-color: rgba(255, 116, 55, 0.13);
	margin-bottom: 0px;
}

.cv-class{
	border: 1px solid #e7eaee;
	font-size: 90%;
	padding: 5px;
	background-color: rgba(119, 255, 122, 0.13);
	margin-bottom: 0px;
}



.awards-list li{
	border: 1px solid #e7eaee;
	font-size: 90%;
	padding: 5px;
	background-color: rgba(255, 234, 42, 0.13);
	margin-bottom: 0px;
}


.section-attachment svg{
	max-height: 2rem;
	max-width: 2rem;
	margin-top: 1.2rem;
	margin-left: 0.2rem;
	fill: #d42d24 !important;

}

.section-attachment a:link, .section-attachment a:visited{
	font-size: 70%;
	color: #d42d24;
}
.section-attachment a:hover{
	color: #ef3128;
}

.download-cv{
	background-color: rgba(255, 234, 42, 0.13);
	padding: 0.7em 1em ;
	margin-top: -14px;
	margin-right: -10px;
	border: 1px solid #000;
	font-size: large;
	font-weight: 600;
}


.download-cv svg{
	max-height: 2rem;
	max-width: 2rem;

	margin-left: 0.2rem;
	fill: #510072 !important;

}
