.gallery-album{
    margin: 15px ;
    width: 150px;
    display: inline-flex!important;
}

.gallery-image {
    border: 2px solid #000000;
    margin-bottom: 0;
}

.gallery-name {
    color: #000000 !important;
    font-weight: bold;
    font-size: 85%;
    margin: 0;
    padding-left: 4px;
}


.gallery-date {
    color: #afafaf !important;
    font-size: 70%;
    margin: 0;
    padding-left: 4px;
}
