
.blog-preview{
    font-size: 90%;
    border: 1px solid #dfdfdf;
    padding: 0;
    margin: 0.5rem;
    width: 100%;
    color: #000000;
    background-repeat: no-repeat;

    background-position: bottom right;
}



.blog-title{
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.blog-date{
    color: #c8cbcf;
    font-size: 75%;
    margin: 0.65rem 0 0 0;
    min-width: 4rem;
    text-align: right;
}



.blog-preview.blueAccent{
    background-color: #0000FF05;
}

.blog-preview.greenAccent{
    background-color: #00FF0005;
    border: 1px solid #c6dfbf;
}


.blog-preview.redAccent{
    background-color: #FF000005;
    border: 1px solid #dfbcb7;
}

.blog-marker-row{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.blog-marker{
    font-size: 75%;
    text-transform: capitalize;
    text-align: right;
    margin: 0 0 0 0.5rem;
}

.blog-marker.post{
    color: #1856ba99;
}

.blog-marker.album{
    color: #18ba5699;
}

.blog-marker.tutorial{
    color: #ba185699;
}

.blog-marker.paper{
    color: #9623ba99;
}

.blog-featured-image{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    border-right: 1px solid #dfdfdf;
    align-self: center!important;

}

.blog-content{
    padding: 0.2rem 0 0.5rem 0;

    margin-bottom: 2rem;
}
.blog-preview h1{
    font-size: large;
}

.blog-content img{
    border: 2px solid #000000;
    margin: 1rem 0.5rem 1rem 0.5rem;
}


.no-border img{

    border: none;
}



.album-reminder{
    max-width: 25rem;
    margin: 0.5rem auto 0.5rem auto;
    color: #18ba56;
    background-color: #00FF0007;
    border: 1px solid #c6dfbf;
    padding: 0.5rem;
    text-align: center;

}

.album-reminder svg{
    max-height: 1rem;
    max-width: 1rem;
    margin: 0 0.5rem 0 0.5rem;

}


.album-reminder:hover{
    color: rgb(34, 255, 117);
    fill: rgb(34, 255, 117);
}

.album-reminder-icon svg{
    max-height: 1.3rem;
    max-width: 1.3rem;
    margin: 0 0.5rem 0 0.5rem;
    fill: #18ba56;

}


.album-reminder-icon svg:hover{
    color: rgb(34, 255, 117);
    fill: rgb(34, 255, 117);
}

.img-left{
    float: left;
    min-width: 30%;
    margin: 0 0.5rem 0 0.5rem;
}

.img-right{
    float: right;
    min-width: 30%;
    margin: 0 0.5rem 0 0.5rem;
}
.img-center{
    min-width: 30%;
    margin: 1rem auto 1rem auto;
}


.img-no-border img{
    border: none;

}

.date-range{
    text-align: right;
    font-weight: bold;
}
