.blog-preview {
    font-size: 90%;
    border: 1px solid;
    padding: 0;
    margin: 0.5rem;
    width: 100%;
    color: #000000 !important;
    background-repeat: no-repeat;
    background-position: bottom right;
}


.blog-posts .post, .blog-content .post{
    color: #1856ba99;
    background-color: #0000FF07;
    border-color: #1856ba99;
    fill: #1856ba99;

}

.blog-posts .album, .blog-content .album{
    color: #18ba5699;
    background-color: #00FF0007;
    border-color: #18ba5699;
    fill: #18ba5699;
}

.blog-posts .tutorial, .blog-content .tutorial{
    color: #ba185699;
    background-color: #FF000007;
    border-color: #ba185699;
    fill: #ba185699;
}

.blog-posts .paper, .blog-content .paper{
    color: #9623ba99;
    background-color: #9623ba07;
    border-color: #dfbcb7;
    fill: #9623ba99;
}





.blog-title{
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.blog-date{
    color: #c8cbcf;
    font-size: 75%;
    margin: 0.65rem 0 0 0;
    min-width: 4rem;
    text-align: right;
}


.blog-marker-row{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.blog-marker{
    font-size: 75%;
    text-transform: capitalize;
    text-align: right;
    margin: 0 0 0 0.5rem;
    padding: 0.1rem;
    background-color: transparent !important;
}

.blog-featured-image{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    border-right: 1px solid #dfdfdf;
    align-self: center!important;
}

.blog-content{
    padding: 0.2rem 0 0.5rem 0;
    margin-bottom: 2rem;
}

.blog-preview h1{
    font-size: large;
}

.blog-content img{
    border: 2px solid #000000;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.no-border img{
    border: none;
}

.blog-reminder-icon {

    background-color: transparent !important;
}


.blog-reminder-icon svg{
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-left: 0.3rem;
}


.blog-reminder{
    max-width: 25rem;
    margin: 0.5rem auto 0.5rem auto;
    border: 1px solid ;
    padding: 0.5rem;
    text-align: center;
    fill: #000000 !important;
}

.blog-reminder svg{
    max-height: 1rem;
    max-width: 1rem;
    margin: 0 0.5rem 0 0.5rem;
}



.img-left{
    float: left;
    min-width: 30%;
    margin: 0 0.5rem 0 0.5rem;
}

.img-right{
    float: right;
    min-width: 30%;
    margin: 0 0.5rem 0 0.5rem;
}
.img-center{
    min-width: 30%;
    margin: 1rem auto 1rem auto;
}


.img-no-border img{
    border: none;

}

.date-range{
    text-align: right;
    font-weight: bold;
}
